.login {
    margin: 50px auto;
    max-width: 400px;
    text-align: left;
}

.form-group {
    margin: 40px auto;
}

    .note {
        font-size: 12px;
        color: #b20000;
        font-weight: 400;
        margin-bottom: 5px;
    }

    .btn {
        margin-top: 10px;
    }