<div class="countries" *ngIf="country">
    <div class="side">
        <div class="country-name">{{ country.name }}</div>
        <div>
            <div class="country-subname">Basic information</div>
            <div>Capital city: {{ country.capital }}</div>
            <div>Population: {{ country.population }}</div>
            <div>Area: {{ country.area }}</div>
        </div>
        <div>
            <div class="country-subname">Region information</div>
            <div>Region: {{ country.region }}</div>
            <div>Subregion: {{ country.subregion }}</div>
            <div>Timezones: {{ country.timezones }}</div>
        </div>
        <div>
            <div class="country-subname">Languages</div>
            <div *ngFor="let language of country.languages">
                <div>{{ language }}</div>
            </div>
        </div>
        <div>
            <div class="country-subname">Translations</div>
            <div>
                <div>{{ country.translations[1] }}</div>
            </div>
        </div>
    </div>
    <div class="side">
        <div>
            <div class="country-subname">Latlng</div>
            <div *ngFor="let latlng of country.latlng">
                <div>{{ latlng }}</div>
            </div>
        </div>
        <div>
            <div class="country-subname">Other information</div>
            <div>Demony: {{ country.demony }}</div>
            <div>Gini: {{ country.gini }}</div>
            <div>CallingCodes: {{ country.callingCodes }}</div>
            <div>TopLevelDomain: {{ country.topLevelDomain }}</div>
            <div>Alpha2Code: {{ country.alpha2Code }}</div>
            <div>Alpha3Code: {{ country.alpha3Code }}</div>
            <div>Currencies: {{ country.currencies }}</div>
            <div>Relevance: {{ country.relevance }}</div>
        </div>
    </div>
</div>
